In [1]:
import pandas as pd
import numpy as np
import networkx as nx

In [2]:
df=pd.read_excel("2011_R_U.XLSX")
for index, row in df.iterrows():
    df.iloc[index,1]=row["To"][8:-5]
    x=row["From"]
    df.iloc[index,0]=x.upper()
for index,row in df.iterrows():
    if row["From"]=="TOTAL":
        df.drop(index,axis=0,inplace=True)

In [3]:
df

lis=[]
for index, row in df.iterrows():
    lis.append((row["From"],row["To"],row["Persons"]))
    
df

                      From                 To  Persons    Males  Females
0               PUDUCHERRY         CHANDIGARH        1        0        1
1              DAMAN & DIU            HARYANA        1        1        0
2              DAMAN & DIU      UTTAR PRADESH        1        1        0
3               CHANDIGARH  ARUNACHAL PRADESH        1        0        1
4     DADRA & NAGAR HAVELI  ARUNACHAL PRADESH        1        0        1
...                    ...                ...      ...      ...      ...
1137            TAMIL NADU         TAMIL NADU  1872040   821718  1050322
1138               GUJARAT            GUJARAT  1972613   915129  1057484
1139         UTTAR PRADESH      UTTAR PRADESH  2001246   827507  1173739
1140        ANDHRA PRADESH     ANDHRA PRADESH  2088344   965575  1122769
1141           MAHARASHTRA        MAHARASHTRA  3232704  1521760  1710944

[1142 rows x 5 columns]

In [4]:
df2=df.iloc[:,0:3]
df2

                      From                 To  Persons
0               PUDUCHERRY         CHANDIGARH        1
1              DAMAN & DIU            HARYANA        1
2              DAMAN & DIU      UTTAR PRADESH        1
3               CHANDIGARH  ARUNACHAL PRADESH        1
4     DADRA & NAGAR HAVELI  ARUNACHAL PRADESH        1
...                    ...                ...      ...
1137            TAMIL NADU         TAMIL NADU  1872040
1138               GUJARAT            GUJARAT  1972613
1139         UTTAR PRADESH      UTTAR PRADESH  2001246
1140        ANDHRA PRADESH     ANDHRA PRADESH  2088344
1141           MAHARASHTRA        MAHARASHTRA  3232704

[1142 rows x 3 columns]

In [5]:
df2.to_csv("Not_loading.csv",header=None,index=False)
df2 = pd.read_csv('2011T.csv', delim_whitespace = True, 
                   header = None, names =['n1', 'n2', 'weight'])
G = nx.DiGraph()
G.add_weighted_edges_from(lis)

In [6]:
nx.info(G)

'Name: \nType: DiGraph\nNumber of nodes: 35\nNumber of edges: 1142\nAverage in degree:  32.6286\nAverage out degree:  32.6286'

In [ ]:
nx.draw(G)

In [26]:
#(nx.to_pandas_adjacency(G, dtype=int)).to_csv("Mat2011.csv")

In [7]:
G.degree(["LAKSHADWEEP","ODISHA","UTTAR PRADESH"],weight=bool)

DiDegreeView({'LAKSHADWEEP': 45, 'ODISHA': 69, 'UTTAR PRADESH': 70})

In [46]:
G.nodes()

NodeView(('PUDUCHERRY', 'CHANDIGARH', 'DAMAN & DIU', 'HARYANA', 'UTTAR PRADESH', 'ARUNACHAL PRADESH', 'DADRA & NAGAR HAVELI', 'GOA', 'LAKSHADWEEP', 'CHHATTISGARH', 'MANIPUR', 'GUJARAT', 'MIZORAM', 'TRIPURA', 'SIKKIM', 'ANDAMAN & NICOBAR ISLANDS', 'MEGHALAYA', 'ASSAM', 'JHARKHAND', 'ODISHA', 'UTTARAKHAND', 'KARNATAKA', 'NAGALAND', 'BIHAR', 'JAMMU & KASHMIR', 'PUNJAB', 'ANDHRA PRADESH', 'MAHARASHTRA', 'KERALA', 'HIMACHAL PRADESH', 'RAJASTHAN', 'NCT OF DELHI', 'TAMIL NADU', 'WEST BENGAL', 'MADHYA PRADESH'))

In [93]:
#less lat more lon
df1 = pd.read_csv('Statelatlong.csv',header = None 
                   , names =['node', 'latitude', 'longitude'])
lis=[]
for ind in df1.index:
    df1.loc[ind, ('node')]=df1['node'][ind].upper()
    
    lis.append(df1['node'][ind].upper())
lis
lis2=list(G.nodes())

In [80]:
def diff(list1, list2):
    c = set(list1).union(set(list2))  # or c = set(list1) | set(list2)
    d = set(list1).intersection(set(list2))  # or d = set(list1) & set(list2)
    return list(c - d)

In [94]:
df1

                         node  latitude  longitude
0              ANDHRA PRADESH   17.6868    83.2185
1                       ASSAM   26.1433    91.7898
2                       BIHAR   25.5941    85.1376
3                CHHATTISGARH   21.2514    81.6296
4                NCT OF DELHI   28.7041    77.1025
5                     GUJARAT   23.2156    72.6369
6                     HARYANA   28.8955    76.6066
7            HIMACHAL PRADESH   31.1048    77.1734
8             JAMMU & KASHMIR   34.0837    74.7973
9                   JHARKHAND   23.3441    85.3096
10                  KARNATAKA   12.9716    77.5946
11                     KERALA    8.5241    76.9366
12             MADHYA PRADESH   23.2599    77.4126
13                MAHARASHTRA   19.0760    72.8777
14                    MANIPUR   24.8170    93.9368
15                  MEGHALAYA   25.5788    91.8933
16                     ODISHA   20.2961    85.8245
17                     PUNJAB   30.9010    75.8573
18                  RAJASTHAN   26.9124    75.7873
19                 TAMIL NADU   13.0827    80.2707
20                  TELANGANA   17.3850    78.4867
21                    TRIPURA   23.8315    91.2868
22              UTTAR PRADESH   26.8467    80.9462
23                UTTARAKHAND   30.3165    78.0322
24                WEST BENGAL   22.5726    88.3639
25          ARUNACHAL PRADESH   27.0844    93.6053
26  ANDAMAN & NICOBAR ISLANDS   11.7401    92.6586
27                DAMAN & DIU   20.2270    73.0169
28                 CHANDIGARH   30.7333    76.7794
29                   MIZORAM    23.1645    92.9376
30                 PUDUCHERRY   11.9416    79.8083
31                        GOA   15.2993    74.1240
32       DADRA & NAGAR HAVELI   20.1809    73.0169
33                LAKSHADWEEP   10.5700    72.6400
34                     SIKKIM   27.5330    88.5122
35                   NAGALAND   25.6751    94.1086

In [95]:

for i in list(G.nodes()):
    temp=df1.loc[df1['node'] == i]
    try:
        G.nodes[i]["longitude"]=temp.iloc[0]["longitude"]
        G.nodes[i]["latitude"]=temp.iloc[0]["latitude"]
    except:
        pass

In [96]:
G.nodes.data()

NodeDataView({'PUDUCHERRY': {'longitude': 79.8083, 'latitude': 11.9416}, 'CHANDIGARH': {'longitude': 76.7794, 'latitude': 30.7333}, 'DAMAN & DIU': {'longitude': 73.0169, 'latitude': 20.227}, 'HARYANA': {'longitude': 76.6066, 'latitude': 28.8955}, 'UTTAR PRADESH': {'longitude': 80.9462, 'latitude': 26.8467}, 'ARUNACHAL PRADESH': {'longitude': 93.6053, 'latitude': 27.0844}, 'DADRA & NAGAR HAVELI': {'longitude': 73.0169, 'latitude': 20.1809}, 'GOA': {'longitude': 74.124, 'latitude': 15.2993}, 'LAKSHADWEEP': {'longitude': 72.64, 'latitude': 10.57}, 'CHHATTISGARH': {'longitude': 81.6296, 'latitude': 21.2514}, 'MANIPUR': {'longitude': 93.9368, 'latitude': 24.816999999999997}, 'GUJARAT': {'longitude': 72.6369, 'latitude': 23.2156}, 'MIZORAM': {}, 'TRIPURA': {'longitude': 91.2868, 'latitude': 23.8315}, 'SIKKIM': {'longitude': 88.5122, 'latitude': 27.533}, 'ANDAMAN & NICOBAR ISLANDS': {'longitude': 92.6586, 'latitude': 11.7401}, 'MEGHALAYA': {'longitude': 91.8933, 'latitude': 25.5788}, 'ASSAM': {'longitude': 91.7898, 'latitude': 26.1433}, 'JHARKHAND': {'longitude': 85.3096, 'latitude': 23.3441}, 'ODISHA': {'longitude': 85.8245, 'latitude': 20.2961}, 'UTTARAKHAND': {'longitude': 78.0322, 'latitude': 30.3165}, 'KARNATAKA': {'longitude': 77.5946, 'latitude': 12.9716}, 'NAGALAND': {'longitude': 94.1086, 'latitude': 25.6751}, 'BIHAR': {'longitude': 85.1376, 'latitude': 25.5941}, 'JAMMU & KASHMIR': {'longitude': 74.7973, 'latitude': 34.0837}, 'PUNJAB': {'longitude': 75.8573, 'latitude': 30.901}, 'ANDHRA PRADESH': {'longitude': 83.2185, 'latitude': 17.6868}, 'MAHARASHTRA': {'longitude': 72.8777, 'latitude': 19.076}, 'KERALA': {'longitude': 76.9366, 'latitude': 8.5241}, 'HIMACHAL PRADESH': {'longitude': 77.1734, 'latitude': 31.1048}, 'RAJASTHAN': {'longitude': 75.7873, 'latitude': 26.9124}, 'NCT OF DELHI': {'longitude': 77.1025, 'latitude': 28.7041}, 'TAMIL NADU': {'longitude': 80.2707, 'latitude': 13.0827}, 'WEST BENGAL': {'longitude': 88.3639, 'latitude': 22.5726}, 'MADHYA PRADESH': {'longitude': 77.4126, 'latitude': 23.2599}})