In [1]:
import pandas as pd
import numpy as np
import networkx as nx

In [2]:
df=pd.read_csv("2011.csv")
for index, row in df.iterrows():
    df.iloc[index,1]=row["To"][8:-5]
    x=row["From"]
    df.iloc[index,0]=x.upper()
for index,row in df.iterrows():
    if row["From"]=="TOTAL":
        df.drop(index,axis=0,inplace=True)

In [3]:
df

lis=[]
for index, row in df.iterrows():
    lis.append((row["From"],row["To"],row["Weight"]))
    
df

                           From                 To    Weight
0                   LAKSHADWEEP  ARUNACHAL PRADESH         1
1     ANDAMAN & NICOBAR ISLANDS  ARUNACHAL PRADESH         1
2                  CHHATTISGARH            MANIPUR         1
3          DADRA & NAGAR HAVELI            MANIPUR         1
4                   LAKSHADWEEP            MIZORAM         1
...                         ...                ...       ...
1218                WEST BENGAL        WEST BENGAL   7643237
1222                 TAMIL NADU         TAMIL NADU   9309427
1224             ANDHRA PRADESH     ANDHRA PRADESH   9988305
1226              UTTAR PRADESH      UTTAR PRADESH  12128007
1228                MAHARASHTRA        MAHARASHTRA  15996425

[1195 rows x 3 columns]

In [4]:
df2=df.iloc[:,0:3]
df2

                           From                 To    Weight
0                   LAKSHADWEEP  ARUNACHAL PRADESH         1
1     ANDAMAN & NICOBAR ISLANDS  ARUNACHAL PRADESH         1
2                  CHHATTISGARH            MANIPUR         1
3          DADRA & NAGAR HAVELI            MANIPUR         1
4                   LAKSHADWEEP            MIZORAM         1
...                         ...                ...       ...
1218                WEST BENGAL        WEST BENGAL   7643237
1222                 TAMIL NADU         TAMIL NADU   9309427
1224             ANDHRA PRADESH     ANDHRA PRADESH   9988305
1226              UTTAR PRADESH      UTTAR PRADESH  12128007
1228                MAHARASHTRA        MAHARASHTRA  15996425

[1195 rows x 3 columns]

In [5]:
df2.to_csv("2011T.csv",header=None,index=False)
df2 = pd.read_csv('2011T.csv', delim_whitespace = True, 
                   header = None, names =['n1', 'n2', 'weight'])
G = nx.DiGraph()
G.add_weighted_edges_from(lis)

In [6]:
nx.info(G)

'Name: \nType: DiGraph\nNumber of nodes: 35\nNumber of edges: 1195\nAverage in degree:  34.1429\nAverage out degree:  34.1429'

In [7]:
#(nx.to_pandas_adjacency(G, dtype=int)).to_csv("Mat2011.csv")

In [8]:
G.degree(["LAKSHADWEEP","ODISHA","UTTAR PRADESH"],weight=bool)

DiDegreeView({'LAKSHADWEEP': 62, 'ODISHA': 70, 'UTTAR PRADESH': 70})

In [9]:
G.nodes()

NodeView(('LAKSHADWEEP', 'ARUNACHAL PRADESH', 'ANDAMAN & NICOBAR ISLANDS', 'CHHATTISGARH', 'MANIPUR', 'DADRA & NAGAR HAVELI', 'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'JHARKHAND', 'UTTARAKHAND', 'ASSAM', 'PUDUCHERRY', 'SIKKIM', 'NAGALAND', 'JAMMU & KASHMIR', 'DAMAN & DIU', 'CHANDIGARH', 'GOA', 'HIMACHAL PRADESH', 'PUNJAB', 'HARYANA', 'RAJASTHAN', 'GUJARAT', 'NCT OF DELHI', 'BIHAR', 'UTTAR PRADESH', 'ODISHA', 'ANDHRA PRADESH', 'WEST BENGAL', 'MADHYA PRADESH', 'KERALA', 'TAMIL NADU', 'KARNATAKA', 'MAHARASHTRA'))

In [10]:
#less lat more lon
df1 = pd.read_csv('Statelatlong.csv',header = None 
                   , names =['node', 'latitude', 'longitude'])
lis=[]
for ind in df1.index:
    df1.loc[ind, ('node')]=df1['node'][ind].upper()
    
    lis.append(df1['node'][ind].upper())
lis
lis2=list(G.nodes())

In [11]:
def diff(list1, list2):
    c = set(list1).union(set(list2))  # or c = set(list1) | set(list2)
    d = set(list1).intersection(set(list2))  # or d = set(list1) & set(list2)
    return list(c - d)

In [12]:
df1

                         node  latitude  longitude
0              ANDHRA PRADESH   17.6868    83.2185
1                       ASSAM   26.1433    91.7898
2                       BIHAR   25.5941    85.1376
3                CHHATTISGARH   21.2514    81.6296
4                NCT OF DELHI   28.7041    77.1025
5                     GUJARAT   23.2156    72.6369
6                     HARYANA   28.8955    76.6066
7            HIMACHAL PRADESH   31.1048    77.1734
8             JAMMU & KASHMIR   34.0837    74.7973
9                   JHARKHAND   23.3441    85.3096
10                  KARNATAKA   12.9716    77.5946
11                     KERALA    8.5241    76.9366
12             MADHYA PRADESH   23.2599    77.4126
13                MAHARASHTRA   19.0760    72.8777
14                    MANIPUR   24.8170    93.9368
15                  MEGHALAYA   25.5788    91.8933
16                     ODISHA   20.2961    85.8245
17                     PUNJAB   30.9010    75.8573
18                  RAJASTHAN   26.9124    75.7873
19                 TAMIL NADU   13.0827    80.2707
20                  TELANGANA   17.3850    78.4867
21                    TRIPURA   23.8315    91.2868
22              UTTAR PRADESH   26.8467    80.9462
23                UTTARAKHAND   30.3165    78.0322
24                WEST BENGAL   22.5726    88.3639
25          ARUNACHAL PRADESH   27.0844    93.6053
26  ANDAMAN & NICOBAR ISLANDS   11.7401    92.6586
27                DAMAN & DIU   20.2270    73.0169
28                 CHANDIGARH   30.7333    76.7794
29                   MIZORAM    23.1645    92.9376
30                 PUDUCHERRY   11.9416    79.8083
31                        GOA   15.2993    74.1240
32       DADRA & NAGAR HAVELI   20.1809    73.0169
33                LAKSHADWEEP   10.5700    72.6400
34                     SIKKIM   27.5330    88.5122
35                   NAGALAND   25.6751    94.1086

In [13]:

for i in list(G.nodes()):
    temp=df1.loc[df1['node'] == i]
    try:
        G.nodes[i]["longitude"]=temp.iloc[0]["longitude"]
        G.nodes[i]["latitude"]=temp.iloc[0]["latitude"]
    except:
        pass

In [14]:
G.nodes.data()
nx.write_gml(G, "2011WA.gml")

In [21]:
df.to_csv("To_H.csv")

In [16]:
dic={}
for index, row in df.iterrows():
    if row["From"] in dic.keys():
        dic[row["From"]]+=row["Weight"]
    else:
        dic[row["From"]]=row["Weight"]
dic

{'LAKSHADWEEP': 13442,
 'ANDAMAN & NICOBAR ISLANDS': 74085,
 'CHHATTISGARH': 2726745,
 'DADRA & NAGAR HAVELI': 23522,
 'MIZORAM': 111807,
 'TRIPURA': 316114,
 'MEGHALAYA': 173834,
 'JHARKHAND': 2874349,
 'UTTARAKHAND': 1369327,
 'ASSAM': 2869877,
 'PUDUCHERRY': 242397,
 'NAGALAND': 211499,
 'JAMMU & KASHMIR': 836832,
 'ARUNACHAL PRADESH': 199884,
 'DAMAN & DIU': 16061,
 'CHANDIGARH': 128589,
 'GOA': 301744,
 'PUNJAB': 3069629,
 'HARYANA': 2665113,
 'RAJASTHAN': 7132973,
 'GUJARAT': 7730896,
 'NCT OF DELHI': 1026171,
 'SIKKIM': 70629,
 'UTTAR PRADESH': 16983298,
 'MANIPUR': 216249,
 'BIHAR': 9305687,
 'HIMACHAL PRADESH': 822257,
 'ODISHA': 4578323,
 'MADHYA PRADESH': 7860149,
 'KERALA': 5878695,
 'ANDHRA PRADESH': 10815613,
 'WEST BENGAL': 8622286,
 'KARNATAKA': 8091659,
 'TAMIL NADU': 10051159,
 'MAHARASHTRA': 17202915}

In [17]:
dic={}
for index, row in df.iterrows():
    if row["To"] in dic.keys():
        dic[row["To"]]+=row["Weight"]
    else:
        dic[row["To"]]=row["Weight"]
dic

{'ARUNACHAL PRADESH': 241442,
 'MANIPUR': 182177,
 'MIZORAM': 123819,
 'LAKSHADWEEP': 14854,
 'PUDUCHERRY': 259635,
 'SIKKIM': 91206,
 'MEGHALAYA': 187962,
 'DADRA & NAGAR HAVELI': 108242,
 'JAMMU & KASHMIR': 788928,
 'TRIPURA': 327335,
 'CHHATTISGARH': 2909740,
 'DAMAN & DIU': 104620,
 'HIMACHAL PRADESH': 856370,
 'PUNJAB': 3555241,
 'CHANDIGARH': 245765,
 'JHARKHAND': 2867456,
 'NAGALAND': 239462,
 'ASSAM': 2720204,
 'HARYANA': 3453628,
 'GUJARAT': 9106032,
 'BIHAR': 6579514,
 'ODISHA': 4294259,
 'ANDAMAN & NICOBAR ISLANDS': 89438,
 'ANDHRA PRADESH': 10599362,
 'WEST BENGAL': 8331752,
 'GOA': 396445,
 'KERALA': 5693564,
 'UTTAR PRADESH': 13548890,
 'UTTARAKHAND': 1545153,
 'TAMIL NADU': 9977915,
 'NCT OF DELHI': 2521836,
 'MADHYA PRADESH': 7591689,
 'KARNATAKA': 8647134,
 'RAJASTHAN': 6767960,
 'MAHARASHTRA': 19644780}

In [18]:
{'LAKSHADWEEP': 13442,
 'ANDAMAN&NICOBARISLANDS': 74085,
 'CHHATTISGARH': 2726745,
 'DADRA&NAGARHAVELI': 23522,
 'MIZORAM': 111807,
 'TRIPURA': 316114,
 'MEGHALAYA': 173834,
 'JHARKHAND': 2874349,
 'UTTARAKHAND': 1369327,
 'ASSAM': 2869877,
 'PUDUCHERRY': 242397,
 'NAGALAND': 211499,
 'JAMMUANDKASHMIR': 836832,
 'ARUNACHALPRADESH': 199884,
 'DAMAN&DIU': 16061,
 'CHANDIGARH': 128589,
 'GOA': 301744,
 'PUNJAB': 3069629,
 'HARYANA': 2665113,
 'RAJASTHAN': 7132973,
 'GUJARAT': 7730896,
 'DELHI': 1026171,
 'SIKKIM': 70629,
 'UTTAR PRADESH': 16983298,
 'MANIPUR': 216249,
 'BIHAR': 9305687,
 'HIMACHAL PRADESH': 822257,
 'ODISHA': 4578323,
 'MADHYA PRADESH': 7860149,
 'KERALA': 5878695,
 'ANDHRAPRADESH': 10815613,
 'WESTBENGAL': 8622286,
 'KARNATAKA': 8091659,
 'TAMILNADU': 10051159,
 'MAHARASHTRA': 17202915}

{'LAKSHADWEEP': 13442,
 'ANDAMAN&NICOBARISLANDS': 74085,
 'CHHATTISGARH': 2726745,
 'DADRA&NAGARHAVELI': 23522,
 'MIZORAM': 111807,
 'TRIPURA': 316114,
 'MEGHALAYA': 173834,
 'JHARKHAND': 2874349,
 'UTTARAKHAND': 1369327,
 'ASSAM': 2869877,
 'PUDUCHERRY': 242397,
 'NAGALAND': 211499,
 'JAMMUANDKASHMIR': 836832,
 'ARUNACHALPRADESH': 199884,
 'DAMAN&DIU': 16061,
 'CHANDIGARH': 128589,
 'GOA': 301744,
 'PUNJAB': 3069629,
 'HARYANA': 2665113,
 'RAJASTHAN': 7132973,
 'GUJARAT': 7730896,
 'DELHI': 1026171,
 'SIKKIM': 70629,
 'UTTAR PRADESH': 16983298,
 'MANIPUR': 216249,
 'BIHAR': 9305687,
 'HIMACHAL PRADESH': 822257,
 'ODISHA': 4578323,
 'MADHYA PRADESH': 7860149,
 'KERALA': 5878695,
 'ANDHRAPRADESH': 10815613,
 'WESTBENGAL': 8622286,
 'KARNATAKA': 8091659,
 'TAMILNADU': 10051159,
 'MAHARASHTRA': 17202915}

In [19]:
G.draw()

AttributeError: 'DiGraph' object has no attribute 'draw'